<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
</head>
<body>
    <p><a href="flashcardmaureen://password/reset/{{token}}/">Click here</a>  if you are not redirected automatically</p>

    <script>
        window.onload = function() {
            window.location = "flashcardmaureen://password/reset/{{token}}/"
        };
    </script>
</body>
</html>
