<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <p>Hi from Straight A Nursing!</p>

    <p>You’re receiving this notification because an account has been registered under this email address at the
        Straight A
        Nursing app. To confirm this is correct, go to <a href="{{ activate_url }}">this link</a>.</p>

    <p>Within the app you can easily manage your account by clicking on the “View Your Profile” link in the side menu.
        The side
        menu is also where you can upgrade your account, view the FAQ, and explore other great resources for nursing
        school
        success.</p>

    <p>If you have any questions not answered in the FAQ, please reach out to support@straightanursingstudent.com so we
        can
        help!</p>

    <p>Cheering for you always,</p>

    <p>The Straight A Nursing team</p>

</body>

</html>