<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Cancellation</title>
</head>

<body>
    <p>Hi {{ name }},</p>
<pre>
This email confirms you have canceled your account with the Straight A Nursing App.

If you were a premium member, you will not be charged again and you can continue to utilize
the premium flashcards until the end of your billing period. Once your billing period ends,
your profile will downgrade to a free version. If you would like to remove your profile 
completely, log in as a free user and click on “CANCEL ACCOUNT” in the profile area.

If you were using the free version of the app, your profile has been removed.

If you would like to utilize the free or paid version in the future, simply sign up
again…we’d love to have you! Wishing you all the best on your journey to become a
nurse!
        </pre>
    </p>

    <p>Straight A Nursing team</p>
</body>

</html>